@mixin ellipse {
  text-overflow: ellipsis; // 텍스트가 영역을 넘어가면 말줄임
  white-space: nowrap; // 텍스트를 오른쪽으로 쭉 이어지게
  overflow: hidden; // 영역이 넘어가면 감춘다.
}

@mixin multi-ellipsis($font-size, $line-height, $lines) {
  font-size: $font-size;
  line-height: $line-height;
  max-height: $line-height * $lines;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical; /* autoprefixer: off */
}

