/* Pseudo-Element Selector (가상 요소 선택자)
first-letter, first-line, selection */

.lorem::first-letter {
	color: teal;
	font-size: large;
	font-weight: 700;
}

.lorem::first-line {
	color: chocolate;
	font-size: small;
	font-weight: 700;
}

.lorem::before {
	content: "Before";
}

/* 마우스로 해당 요소를 선택할때(드래그 할때) 나타남 */
.lorem::selection {
	color: khaki;
	font-size: small;
	font-weight: 700;
}
