/* Attribute selector (속성 선택자) */

/* 1. [attr] */
a[target] {
	color: green;
}

/* 2. [attr=value] value값이 완전히 일치해야함 */
a[href="https://example.org"]
{
	color: indigo;
}

input[type="submit"] {
	background-color: coral;
}

/* 3. [attr^=value] 해당 value로 시작하는 attr*/
a[href^="https"] {
	font-size: small;
}

/* 4. [attr$=value] 해당 value로 끝나는 attr*/
a[href$="com"] {
	font-size: large;
}

/* 5. [attr*=value] 해당 value값이 들어가는 모든 attr*/
a[href*="example"] {
	font-weight: 700;
}
