/* Theme 스타일 작성 */

:root {
	--color--white: #ffffff;
	--color-blue-600: #0074e9;
	--color-gray-100: #f3f3f3;
	--color-gray-500: #c4c4c4;
	--color-gray-600: #aaa9a9;
	--color-gray-800: #4e4e4e;
	--color-black: #181818;
}
