/* 헤더 */

div {
	display: inline-block;
}

header {
	border: 1px solid var(--color-gray-100);
}

.login-bar {
	height: 34px;
	display: flex;
	justify-content: center;
	background-color: var(--color-gray-100);
}

.link-lists {
	width: 1020px;
	display: flex;
	align-items: center;
	padding: 0;
	font-size: var(--base-size);
	list-style: none;
}

.link-lists li {
	margin-right: 8px;
}

.link-lists li:nth-child(3) {
	margin-left: 736px;
}

.logo {
	width: 176px;
	height: 40px;
	display: inline-block;
	background-image: url("/zerobase-projects/part1/Mission-04/assets/logo/logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0;
}

.grid-area {
	display: grid;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.grid-area a {
	height: 40px;
	grid-row: 1/2;
	grid-column: 2/2;
	margin-right: 30px;
}

.button--category {
	width: 110px;
	height: 116px;
	grid-row: 1/3;
	grid-column: 1/1;
	background-image: url("/zerobase-projects/part1/Mission-04/assets/icon/hamburger.svg");
	background-repeat: no-repeat;
	background-position: center 40%;
	background-color: var(--color-blue-600);
	font-size: var(--base-size);
	color: var(--color-white);
	border: 0;
	padding: 0;
	margin-right: 40px;
	padding-top: 44px;
}

form {
	width: 516px;
	height: 40px;
	display: flex;
	grid-row: 1/2;
	grid-column: 3/5;
	border: 1px solid var(--color-blue-600);
	margin-right: 46px;
}

select {
	width: 135px;
	font-size: var(--base-size);
	color: var(--color-gray-700);
	text-indent: 12px;
	border: none;
	border-right: 1px solid var(--color-gray-100);

	/* dropdown */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("../../assets/icon/MoreDown.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 90%;
}

input {
	width: 301px;
	font-size: var(--base-size);
	color: var(--color-gray-600);
	text-indent: 10px;
	border: none;
	padding: 0;
}

form button {
	width: 40px;
	border: 0;
	padding: 0;
}

.search-btn-mic {
	background-image: url("/zerobase-projects/part1/Mission-04/assets/icon/mic.svg");
	background-position: center;
	background-color: transparent;
}

.search-btn-search {
	background-image: url("/zerobase-projects/part1/Mission-04/assets/icon/search.svg");
	background-position: center;
	background-color: transparent;
}

.myCoupang button,
.cart button {
	background-repeat: no-repeat;
	background-position: center 10%;
	font-size: var(--base-size);
	border: none;
	background-color: transparent;
	padding-top: 35px;
}

.myCoupang {
	width: 60px;
	height: 58px;
	position: relative;
	grid-row: 1/2;
	grid-column: 5/6;
	margin-right: 10px;
}

.myCoupang ul {
	display: none;
}

.is--active ul {
	width: 90px;
	height: 137px;
	position: absolute;
	left: -18px;
	display: block;
	text-align: center;
	background-color: var(--color-white);
	font-size: var(--base-size);
	border: 1px solid var(--color-gray-300);
	padding: 0;
	margin-top: 7px;
	margin-right: 40px;
	list-style: none;
	z-index: 10;
}

.is--active ul span {
	width: 7px;
	height: 7px;
	position: absolute;
	right: 38px;
	top: 0;
	background-color: var(--color-white);
	border-right: 1px solid var(--color-gray-300);
	border-bottom: 1px solid var(--color-gray-300);
	transform: rotate(225deg);
	margin-top: -4px;
	z-index: 100;
}

.is--active li:nth-child(1) {
	margin: 31px 0 20px 0;
}
.is--active li:nth-child(2) {
	margin: 20px 0;
}
.is--active li:nth-child(3) {
	margin: 20px 0 24px 0;
}

.myCoupang button {
	background-image: url("/zerobase-projects/part1/Mission-04/assets/icon/my-coupang.svg");
}

.cart button {
	position: relative;
	background-image: url("/zerobase-projects/part1/Mission-04/assets/icon/cart.svg");
}

.cart-count {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 1px;
	right: 10px;
	background-color: var(--color-blue-600);
	border-radius: 50%;
	text-align: center;
	font-size: var(--base-size);
	color: var(--color-white);
	padding-top: 2px;
}

.cart {
	width: 60px;
	height: 58px;
	position: relative;
	grid-row: 1/2;
	grid-column: 6/6;
}

.cart > div {
	display: none;
}

.cart-lists span {
	width: 7px;
	height: 7px;
	position: absolute;
	right: 20px;
	top: 0;
	background-color: var(--color-white);
	border-right: 1px solid var(--color-gray-300);
	border-bottom: 1px solid var(--color-gray-300);
	transform: rotate(225deg);
	margin-top: -4px;
	z-index: 100;
}

.cart--empty > div {
	width: 288px;
	height: 99px;
	position: absolute;
	right: 0;
	display: block;
	background-color: var(--color-white);
	font-size: var(--empty-cart-size);
	border: 1px solid var(--color-gray-300);
	text-align: center;
	padding-top: 36px;
	margin: 6px 10px 0 0;
	z-index: 10;
}

.link-bar {
	display: inline-block;
	grid-row: 2/2;
	grid-column: 2/6;
	font-size: var(--base-size);
}

.link-bar > div {
	margin-right: 28px;
}

.link-bar > div:nth-child(3) > span {
	margin-left: 4px;
}

.link-bar > div:last-child {
	margin-right: 85px;
}

.icon {
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
}

.icon.rocket {
	background-image: url("/zerobase-projects/part1/Mission-04/assets/icon/icon-rocket.svg");
	margin-right: 4px;
}

.icon.fresh {
	background-image: url("/zerobase-projects/part1/Mission-04/assets/icon/icon-fresh.svg");
	margin-right: 4px;
}
